In [1]:
#cleansing the dataset and removing the unnecessary columns
import pandas as pd
import matplotlib.pyplot as plt

C:\Users\Pedram\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
#reading the csv file and transforming the data, droping null values and duplicates, converting to the appropriate datatypes
#this code is used for the different years of the white house dataset, the only variable that needs to be changed is the csv file name
ds16=pd.read_csv('whitehouse_waves-2016_3.csv', delimiter=",", low_memory=False)
df16=pd.DataFrame(ds16[['APPT_MADE_DATE','Total_People']])
df16=df16.drop_duplicates()
df16['APPT_MADE_DATE']=pd.to_datetime(df16['APPT_MADE_DATE'],errors='coerce')
df16=df16[pd.notnull(df16['APPT_MADE_DATE'])]
df16.dropna(subset=['APPT_MADE_DATE'])
df16['Total_People']=pd.to_numeric(df16['Total_People'],errors='coerce')

In [3]:
#sorting and reseting the index of the dataset
df16.sort(columns='APPT_MADE_DATE',ascending=True)
df16=df16.reset_index(drop=True)
df16.to_csv('Cleaneddf16.csv')

       APPT_MADE_DATE  Total_People
0          2015-09-02           1.0
1          2015-09-29           7.0
8          2015-09-01           1.0
9          2015-09-30           1.0
10         2015-10-01           1.0
11         2015-09-23         285.0
12         2015-09-21         285.0
25         2015-09-22         285.0
66         2015-09-25         285.0
298        2015-10-01           2.0
300        2015-09-29          86.0
386        2015-09-29          71.0
393        2015-09-30           9.0
412        2015-09-29           2.0
421        2015-09-28           1.0
478        2015-09-25         270.0
480        2015-09-21         270.0
751        2015-09-29           1.0
754        2015-10-01           6.0
773        2015-09-20         259.0
800        2015-09-25         259.0
833        2015-09-22         259.0
924        2015-09-24         259.0
1034       2015-09-08          65.0
1035       2015-09-29          90.0
1036       2015-09-29          24.0
1040       2015-10-01           4.0
1055       2015-09-28           4.0
1070       2015-09-29          32.0
1093       2015-09-30          90.0
...               ...           ...
246808     2015-12-28           9.0
246809     2015-12-29           5.0
246812     2015-12-29           9.0
246835     2015-12-28           3.0
246856     2015-12-29          15.0
246857     2015-12-28           5.0
246858     2015-12-23           7.0
246895     2015-12-29           3.0
246899     2015-12-27          19.0
246951     2015-12-29           6.0
246963     2015-12-29           4.0
246985     2015-12-28           6.0
247084     2015-12-30           1.0
247089     2015-12-29          16.0
247118     2015-12-29           7.0
247132     2015-12-30           2.0
247140     2015-12-30           4.0
247164     2015-12-29           8.0
247180     2015-12-30           8.0
247253     2015-12-30           3.0
247274     2015-12-31           2.0
247308     2015-12-31           1.0
247322     2015-12-28          14.0
247324     2015-12-30          11.0
247326     2015-12-31          11.0
247360     2015-12-24          19.0
247384     2015-12-29          17.0
247402     2015-12-31           3.0
247408     2015-12-30           5.0
247413     2015-12-31          13.0

[3642 rows x 2 columns]

C:\Users\Pedram\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

       APPT_MADE_DATE  Total_People
33019      2015-08-25          49.0
33074      2015-08-26          49.0
5510       2015-08-28           3.0
40465      2015-08-28           1.0
37258      2015-08-31           4.0
13613      2015-08-31           2.0
8          2015-09-01           1.0
15532      2015-09-01           4.0
30057      2015-09-01          11.0
30058      2015-09-02          11.0
0          2015-09-02           1.0
8223       2015-09-02           8.0
3818       2015-09-03           2.0
30065      2015-09-03          11.0
10778      2015-09-03           4.0
8593       2015-09-04           2.0
8641       2015-09-06           5.0
8716       2015-09-08           4.0
7536       2015-09-08           1.0
1034       2015-09-08          65.0
12889      2015-09-08           2.0
12517      2015-09-08           6.0
12966      2015-09-09           3.0
12694      2015-09-09           7.0
8695       2015-09-09           6.0
14763      2015-09-10           1.0
12486      2015-09-10           4.0
12386      2015-09-10           2.0
12785      2015-09-10           5.0
12280      2015-09-10           6.0
...               ...           ...
246591     2015-12-28           2.0
164711     2015-12-29          38.0
247384     2015-12-29          17.0
247164     2015-12-29           8.0
247118     2015-12-29           7.0
246717     2015-12-29           1.0
246963     2015-12-29           4.0
246951     2015-12-29           6.0
247089     2015-12-29          16.0
246856     2015-12-29          15.0
246812     2015-12-29           9.0
246760     2015-12-29          47.0
246809     2015-12-29           5.0
246711     2015-12-29           2.0
246895     2015-12-29           3.0
164735     2015-12-30          38.0
247408     2015-12-30           5.0
247324     2015-12-30          11.0
164683     2015-12-30           6.0
247253     2015-12-30           3.0
247140     2015-12-30           4.0
247132     2015-12-30           2.0
247084     2015-12-30           1.0
247180     2015-12-30           8.0
247274     2015-12-31           2.0
247308     2015-12-31           1.0
247326     2015-12-31          11.0
164692     2015-12-31          38.0
247402     2015-12-31           3.0
247413     2015-12-31          13.0

[3642 rows x 2 columns]